<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Inclusive Forms</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="column">
                
            <h1>{{ pageTitle }}</h1>
            Published: {{ page.date | date: "%B %e, %Y" }}<br />
            {% if lastmod %}
            Last modified: {{ lastmod | date: "%B %e, %Y" }}
            {% endif %}
            <img src="{{ thumbnail }}">
            <div id="partner">
                {{ partner.partner-name }}
                <img src="{{ partner.partner-logo }}">
                <ul>
                    <li><a href="{{ partner.partner-url }}">{{ partner.partner-url }}</a></li>
                    <li><a href="{{ partner.partner-donate }}">{{ partner.partner-donate }}</a></li>
                </ul>
                <p>{{ partner.partner-description }}</p>
            </div>
            <div id="recommendation">
                {{ content }}
            </div>
            <div id="methodology">
                <h2>Methodology</h2>
                {{ methodology }}
            </div>
        </div>
    </div>
</div>
</body>
</html>