<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Inclusive Forms</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body id="is-best-practice">
<div class="container">
    <div class="row">
        <main role="main">
            <div class="column" id="content">
                <h1>{{ pageTitle }}</h1>
                <div id="publish-date">
                    Published: {{ page.date | date: "%B %e, %Y" }}
                    {% if lastmod %}
                        <br />Last modified: {{ lastmod | date: "%B %e, %Y" }}
                    {% endif %}
                </div>
                <div id="partner">
                    <h2>Partner: <a href="{{ partner.partner-url }}">{{ partner.partner-name }}</a></h2>
                    <img src="{{ partner.partner-logo }}">
                    <p>{{ partner.partner-description }}</p>
                    <p>Please consider supporting their work as a thank you for their gudience on this recommendation.</p>
                    <p><a href="{{ partner.partner-donate }}" class="donate">{{ partner.partner-donate }}</a></p>
                </div>
                <div id="recommendation">
                    {{ content }}
                </div>
                <div id="methodology">
                    <h2>Methodology</h2>
                    {{ methodology }}
                </div>
            </div>
        </main>
        <nav aria-label="Main Navigation" role="navigation">
            <div class="column" id="navigation">
                <ul>
                {% for best-practice in collections.best-practices %}
                    <li{% if page.url == best-practice.url %} class="active"{% endif %}><a href="{{ best-practice.url }}">{{ best-practice.data.pageTitle }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>
</html>