<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Inclusive Forms - Someday</title>
</head>
<body>
    
    <h1>{{ pageTitle }}</h1>
    <h3>thumbnail</h3>
    {{ thumbnail }}
    <h2>Partner</h2>
    <h3>partner.partner-name</h3>
    {{ partner.partner-name }}
    <h3>partner.partner-url</h3>
    {{ partner.partner-url }}
    <h3>partner.partner-donate</h3>
    {{ partner.partner-donate }}
    <h3>partner.partner-description</h3>
    {{ partner.partner-description }}
    <h3>partner.partner-partner-logo</h3>
    {{ partner.partner-partner-logo }}

    {{ content }}
    <h2>methodology</h2>
    {{ methodology }}
</body>
</html>