<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Inclusive Forms</title>
        <meta name="description" content="{{ description }}">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="icon" type="image/png" href="images/favicon.png">
    </head>
    <body id="is-front-page">
        <div class="container">
            <div class="row">
                <div class="column">
                    <header role="banner">
                        <div id="header">
                            <h1>{{ header }}</h1>
                            <h2>{{ subhead }}</h2>
                            {{ description }}
                        </div>
                    </header>
                    <main role="main">
                        <div id="best-practices">
                            <h3>Our recommendations</h3>
                        {% for best-practice in collections.best-practices %}
                            <div class="best-practice"> 
                                <h4><a href="{{ best-practice.url }}">{{ best-practice.data.pageTitle }}</a></h4>
                                Published: {{ best-practice.date | date: "%B %e, %Y" }}<br />
                                <a href="{{ best-practice.url }}"><img src="{{ best-practice.data.thumbnail }}" alt=""></a>
                                {{ best-practice.data.methodology }}
                            </div>
                        {% endfor %}
                        </div>
                        {{ content }}
                    </main>
                </div>
            </div>
        </div>
    </body>
</html>